body {
  background-color: black;
}

#shop {
  display: none;
}

#arena {
  display: none;
}

#result-screen {
  display: none;
}

#live-game {
  display: none;
}

.combat {
  padding: 20px;
  background-color: #DCDCDC;
}
